@tailwind base;
@tailwind components;
@tailwind utilities;

/* css plugin tailwind */
@layer components{
    .setlistheader{
        @apply rounded text-lg  p-2 w-28 text-center font-bold;
    }
    .deleteButton{
        @apply rounded px-6 py-2 text-white hover:opacity-50 border-none bg-red-500 mx-2;
    }
    .selectionButton{
        @apply rounded px-6 py-2 text-white hover:opacity-50 border-none bg-gray-500 mx-10 my-3 md:my-1;
    }
}